---
title: Home
layout: default
---
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="img/slide-01.jpg" alt="dance marathon case western reserve spartanthon">
          <div class="container">
            <div class="carousel-caption">
              <h1>FOR THE KIDS.</h1>
              <p>Herein you'll find passion, dedication, and triumph.  You'll find spirit, love, and caring.  Herein you'll see aspiration, inspiration, and the foundations of greatness.  Herein you'll find our history.</p>
              <p><a class="btn btn-large btn-primary" href="#more">Dig In</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="img/slide-02.jpg" alt="first dance marathon case western reserve spartanthon">
          <div class="container">
            <div class="carousel-caption">
              <h1>12 Hours On Our Feet.</h1>
              <p>Dance Marathon is an organization and also a fundraising event.  The event is a marathon of dancing, games, entertainment, and all around fun, wherein you stay on your feet for 12 hours straight.</p>
              <p><a class="btn btn-large btn-primary" href="#rise">Rise to the Occasion</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="img/slide-03.jpg" alt="dancing with the cwru stars spartanthon">
          <div class="container">
            <div class="carousel-caption">
              <h1>Where the Stars Dance.</h1>
              <p>Challenging the status quo with our Dancing with the CWRU Stars fundraiser, we paired up CWRU faculty and staff with professional dancers for a competition just like on TV. </p>
              <p><a class="btn btn-large btn-primary" href="#">Wish Upon a Star</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

    <!-- motto messaging and storys
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing" id="more">

      <!-- Three columns of text below the carousel -->
      <div class="row motto">
        <div class="col-lg-4 col-sm-4">
          <h1>Engage.</h1>
          <a href="#engage2"><img class="img-circle img-responsive" src="img/motto-01.jpg"></a>
          <p>It's about making a child forget they're even in the hospital.</p> <!-- link to pumpkin story -->
          <p><a class="btn btn-default" href="#/2009/09/03/boo">Find Out How To Make A Child Smile &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <hr class="motto-divider">
        <div class="col-lg-4 col-sm-4">
          <h1>Empower.</h1>
          <a href="#empower1"><img class="img-circle img-responsive" src="img/motto-02.jpg"></a>
          <p>Giving students that have the guts, the chance to stand for something.</p>
          <p><a class="btn btn-default" href="#empower2">Do You Have What It Takes? &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <hr class="motto-divider">
        <div class="col-lg-4 col-sm-4">
          <h1>Inspire.</h1>
          <a href="#inspire1"><img class="img-circle img-responsive" src="img/motto-03.jpg"></a>
          <p>We've done some pretty mind-blowing things, and we're not done yet.</p>
          <p><a class="btn btn-default" href="#/2009/09/05/thrusters-on-full">See How Students and Faculty Unite &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

  <!-- begin storyboards -->
  
  {% assign isRight = true %}
  
  {% for post in site.posts reversed %}
      
      <hr class="story-divider" id="{{ post.id }}">
      
      <div class="story">
        
        <img class="story-image 
        
        {% if isRight == true %} 
        	pull-right 
        	{% assign isRight = false %} 
        {% else %} 
        	pull-left 
        	{% assign isRight = true %} 
        {% endif %} 
        
        {% if post.landscape == true %}
        	col-xs-12 col-md-6 col-lg-6 
        {% elsif post.landscape == false %}
        	col-xs-12 col-sm-6 col-lg-3
        {% else %}
        	col-xs-12
        {% endif %}
        " src="{{ site.url }}/img/{{ post.image }}" alt="{{ post.alt }}">
		
		<h2 class="story-heading"> {{ post.title }} 
			<span class="text-muted"> {{ post.sub }} </span>
		</h2>
      
     	<p class="lead"> {{ post.excerpt }}</p>
      </div>

  {% endfor %}
  
  <!-- end storyboards -->     

<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-md-6 col-lg-6" src="img/story-11.jpg" alt="dance marathon at case western reserve university dancing with the CWRU stars Mike Kenney and Shannon Liauw">
        <h2 class="story-heading">Chemist in the classroom. <span class="text-muted">Chemistry on the dance floor.</span></h2>
        <p class="lead">When recruiting Stars for the event, we knew we wanted to go big and you can't get much bigger than a first year chemistry professor.  Michael Kenney and Shannon Liauw opened the event with a great jive and set the tone for what turned out to be a spectacular night of performances.</p>
      </div>
      
<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-sm-5 col-lg-3" src="img/story-11b.jpg" alt="dance marathon at case western reserve university dancing with the CWRU stars Glenn Nicholls as judge">
        <h2 class="story-heading">Tonight's judging. <span class="text-muted">The man of student life.</span></h2>
        <p class="lead"> A supporter from the beginning, <a href="https://www.youtube.com/watch?v=0gxsrhuigps">Glenn Nicholls</a> has made a huge impact on the university and student life through his role as Vice President of Student Affairs.  We were absolutely honored to have him judge the inaugural Dancing with the CWRU Stars along side Director of Greek Life, Wes Schaub.</p>
      </div>
      
<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-sm-5 col-lg-3" src="img/story-12.jpg" alt="dance marathon at case western reserve university dancing with the CWRU stars where perfection happens feke and samara">
        <h2 class="story-heading">Where perfection happens. <span class="text-muted">A truly spectacular night.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div>

<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-md-6 col-lg-6" src="img/story-13.jpg" alt="dance marathon at case western reserve university dancing with the CWRU stars full house crowd">
        <h2 class="story-heading">A full house. <span class="text-muted">And fuller hearts.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div>
      
<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <a href="http://www.youtube.com/watch?v=ealSOagWB9g"><img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-sm-5 col-lg-3" src="img/story-14.jpg" alt="dance marathon at case western reserve university dancing with the CWRU stars ryan keytack bianca rodriguez trophies"></a>
        <h2 class="story-heading">There are no winners or losers here. <span class="text-muted">But someone still gets a trophy.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div>
      
<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-md-6 col-lg-6" src="img/story-14b.jpg" alt="dance marathon at case western reserve university dancing with the CWRU stars delta tau delta sound crew">
        <h2 class="story-heading">Keeping things bumpin'. <span class="text-muted">The sound crew.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div>
      
<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-md-6 col-lg-6" src="img/story-14c.jpg" alt="dance marathon at case western reserve university dancing with the CWRU stars vincent soo photographer">
        <h2 class="story-heading">Capturing the moment. <span class="text-muted">Our amazing photographer.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div>
      
<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-md-6 col-lg-6" src="img/story-15.jpg" alt="dance marathon at case western reserve university dancing with the CWRU stars where break dancing happens urban elementz">
        <h2 class="story-heading">Well we learned some things. <span class="text-muted">So we let the world know.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div>

<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-md-6 col-lg-6" src="img/story-16.jpg" alt="dance marathon at case western reserve university dancing with the CWRU stars the dawn the team">
        <h2 class="story-heading">Tired, exhausted, and thrilled. <span class="text-muted">Meet the dawn.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div>
      
<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-md-6 col-lg-6" src="img/story-17.jpg" alt="dance marathon at case western reserve university dancing with the CWRU stars the dawn the team the family">
        <h2 class="story-heading">With this family. <span class="text-muted">Anything is possible.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div>
      
<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-md-6 col-lg-6" src="img/story-18.jpg" alt="CWRU spirit wall dance marathon case western CIA partnership website launch scott dailey">
        <h2 class="story-heading">A new collaboration. <span class="text-muted">Setting a higher bar.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div>
      
<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-sm-5 col-lg-3" src="img/story-19.jpg" alt="dance marathon at case western reserve university logo 2010">
        <h2 class="story-heading">The dog days of summer. <span class="text-muted">A new logo takes shape.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div>
      
<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12" src="img/fall-2010.jpg" alt=" dance marathon case western fall 2010">
        <h2 class="story-heading"><span class="text-muted">Year 2</span></h2>

      </div>
      
<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-sm-5 col-lg-3" src="img/story-20.jpg" alt="dance marathon at case western reserve university satco 2010">
        <h2 class="story-heading">Sharing our love for dance. <span class="text-muted">Ready for the new year.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div>
      
<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-md-6 col-lg-6" src="img/story-21.jpg" alt="CWRU spirit wall dance marathon case western inspirational cards for the kids UH">
        <h2 class="story-heading">A fresh batch of students. <span class="text-muted">A fresh hand of cards.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div>
      
<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-md-6 col-lg-6" src="img/story-22.jpg" alt="CWRU spirit wall dance marathon case western logo display booth">
        <h2 class="story-heading">Grabbing attention. <span class="text-muted">Numerous innovations.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div>

<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-md-6 col-lg-6" src="img/story-23.jpg" alt="CWRU dance marathon case western center for civic engagement and learning service fair booth">
        <h2 class="story-heading">Recruiting more volunteers. <span class="text-muted">Telling our story.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div>
      
<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-md-6 col-lg-6" src="img/story-24.jpg" alt="CWRU dance marathon case western reserve bake sale 2010 nord hall">
        <h2 class="story-heading">The last bake sale. <span class="text-muted">Thoughts on ROI.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div>

<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <a href="http://blog.case.edu/admission/2010/09/29/dont_stop_till_you_drop" target="_blank"><img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-sm-5 col-lg-3" src="img/story-25.jpg" alt="CWRU dance marathon case western asian american alliance AAA night 2010"></a>
        <h2 class="story-heading">Forming alliances. <span class="text-muted">Making Impact.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div>
      
<!-- =============================== storyboard =============================== -->

      <hr class="story-divider" id="engage2">

      <div class="story">
        <img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-md-6 col-lg-6" src="img/story-26.jpg" alt="CWRU dance marathon case western pumpkin painting 2010">
        <h2 class="story-heading">A plethora of pumpkins. <span class="text-muted">A bunch of happy kids.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div>
      
<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-md-6 col-lg-6" src="img/story-27.jpg" alt="CWRU dance marathon case western pumpkin halloween at home 2010">
        <h2 class="story-heading">Touching the community. <span class="text-muted">Halloween at home.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div>
      
<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-md-6 col-lg-6" src="img/story-28.jpg" alt="CWRU dance marathon case western chalking outside of thwing">
        <h2 class="story-heading">Strike a pose. <span class="text-muted">Dance Marathon is here.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div>

<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <a href="http://observer.case.edu/dance-marathoners-to-stay-on-feet-for-12-hour-benefit/" target="_blank"><img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-md-6 col-lg-6" src="img/story-29.jpg" alt="CWRU dance marathon case western 2010 observer article"></a>
        <h2 class="story-heading">A little good press. <span class="text-muted">Look who made the "O".</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div>      

<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-md-6 col-lg-6" src="img/story-30.jpg" alt="CWRU dance marathon case western 2010 preparation">
        <h2 class="story-heading">99 luftballons. <span class="text-muted">The dance takes shape.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div>
      
<!-- =============================== storyboard =============================== -->

      <hr class="story-divider" id="rise">

      <div class="story">
        <img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12" src="img/dance-marathon-2010.jpg" alt=" dance marathon at case western reserve university 2010">
        <h2 class="story-heading">Dance Marathon <span class="text-muted">&middot; November 13, 2010</span></h2>

      </div>

<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <a href="http://www.youtube.com/watch?v=HSbFEq0RQwA" target="_blank"><img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-md-6 col-lg-6" src="img/story-31.jpg" alt="CWRU dance marathon case western 2010 opening act"></a>
        <h2 class="story-heading">The opening act. <span class="text-muted">So it begins.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div>              

<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-sm-5 col-lg-3" src="img/story-32.jpg" alt="CWRU dance marathon case western 2010 Spaghetti towers">
        <h2 class="story-heading">Spaghetti towers? <span class="text-muted">We're engineers after all.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div>              

<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-md-6 col-lg-6" src="img/story-33.jpg" alt="CWRU dance marathon case western 2010 opening act">
        <h2 class="story-heading">Our first line dance. <span class="text-muted">F-T-K.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div> 
      
<!-- =============================== storyboard =============================== -->

      <hr class="story-divider" id="empower2">

      <div class="story">
        <img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-md-6 col-lg-6" src="img/story-34.jpg" alt="CWRU dance marathon case western 2010 group dancing">
        <h2 class="story-heading">Dancing for fun. <span class="text-muted">Dancing for life.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div> 
      
<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <a href="https://www.facebook.com/photo.php?v=1616113075179&set=vb.177736828518&type=3&theater" target="_blank"><img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-md-6 col-lg-6" src="img/story-35.jpg" alt="CWRU dance marathon case western 2010 urban elementz"></a>
        <h2 class="story-heading">Hip hop time. <span class="text-muted">Urban Elementz on stage.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div> 
      
<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <a href="http://www.youtube.com/watch?v=_Zfwmcl88Jk" target="_blank"><img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-sm-5 col-lg-3" src="img/story-36.jpg" alt="CWRU dance marathon case western 2010 DJ Paul Farah"></a>
        <h2 class="story-heading">Our monster DJ. <span class="text-muted">Paul Farah.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div>  
      
<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-md-6 col-lg-6" src="img/story-37.jpg" alt="CWRU dance marathon case western 2010 milk the cow euchre">
        <h2 class="story-heading">Milk the cow. <span class="text-muted">We played Euchre too.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div> 
      
<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-md-6 col-lg-6" src="img/story-38.jpg" alt="CWRU dance marathon case western 2010 dancing shout!">
        <h2 class="story-heading">Shout! <span class="text-muted">A little bit louder now.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div> 
      
<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <a href="http://www.youtube.com/watch?v=FecFv8N-w68" target="_blank"><img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-md-6 col-lg-6" src="img/story-39.jpg" alt="CWRU dance marathon case western 2010 speakeasy acapella"></a>
        <h2 class="story-heading">Insomniac. <span class="text-muted">Speakeasy on stage.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div> 
      
<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <a href="http://www.youtube.com/watch?v=c1xBa-cGyPI" target="_blank"><img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-md-6 col-lg-6" src="img/story-40.jpg" alt="CWRU dance marathon case western 2010 spartan dance team"></a>
        <h2 class="story-heading">No stage needed. <span class="text-muted">Spartan Dance Team.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div>
      
<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <a href="http://case.phimu.org/" target="_blank"><img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-md-6 col-lg-6" src="img/story-41.jpg" alt="CWRU dance marathon case western 2010 phi mu"></a>
        <h2 class="story-heading">Morale booster. <span class="text-muted">The sisters of Phi Mu.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div>
      
<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <a href="http://case.deltsconnect.org/" target="_blank"><img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-md-6 col-lg-6" src="img/story-42.jpg" alt="CWRU dance marathon case western 2010 sound crew delta tau delta"></a>
        <h2 class="story-heading">Providing great sound. <span class="text-muted">The brothers of Delt.</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div>
      
<!-- =============================== storyboard =============================== -->

      <hr class="story-divider">

      <div class="story">
        <!--<a href="http://case.phimu.org/" target="_blank"><img class="story-image <?php if ($isRight==TRUE){ echo "pull-right"; $isRight=FALSE;} else {echo "pull-left"; $isRight=TRUE;} ?> col-xs-12 col-md-6 col-lg-6" src="img/story-43.jpg" alt="CWRU dance marathon case western 2010 phi mu"></a>-->
        <h2 class="story-heading">More coming soon. <span class="text-muted">Keep dancing!</span></h2>
        <p class="lead">We're still writing! Check back later for more of the story.</p>
      </div>
      
      <!-- /end of storyboards -->
      
		<hr class="story-divider">
</div><!-- /.container -->


