	<div id="footer">
		<div class="container">
			<p class="pull-right"><a href="#">Back to top</a></p>
			<p>&copy; {{ site.time | date: '%Y' }} {{ site.title }} &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
		</div>
	</div><!-- /.footer -->

    <!-- JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ site.url }}/js/nav.js"></script>
    <script src="{{ site.url }}/js/bootstrap.js"></script>
  </body>
</html>